<a href="https://colab.research.google.com/github/venkatesh176/AI_Training/blob/Basics/NonLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score, r2_score
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

In [4]:
df =pd.read_csv("/content/sample_data/income_1.txt", sep = "\t")
df.head()

   age  experience  income
0   58           4  136.18
1   48          18  150.47
2   34           8   99.38
3   27           4   77.52
4   40           2   92.06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         20 non-null     int64
 1   experience  20 non-null     int64
 2   income      20 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 612.0 bytes

In [6]:
df.isna().count()

age           20
experience    20
income        20
dtype: int64

In [7]:
op = df["income"]
op1 = np.array(op)
y = np.c_[op1]
y

array([[136.18],
       [150.47],
       [ 99.38],
       [ 77.52],
       [ 92.06],
       [126.18],
       [140.47],
       [ 90.38],
       [ 67.52],
       [ 82.06],
       [166.18],
       [160.47],
       [129.38],
       [ 97.52],
       [102.06],
       [136.18],
       [130.47],
       [100.38],
       [ 97.52],
       [112.06]])

In [8]:
ip = df.drop("income", axis = 1)
ip1 = np.array(ip)
ones = np.ones(len(ip))
X = np.c_[ones,ip1]
X

array([[ 1., 58.,  4.],
       [ 1., 48., 18.],
       [ 1., 34.,  8.],
       [ 1., 27.,  4.],
       [ 1., 40.,  2.],
       [ 1., 50.,  3.],
       [ 1., 40., 14.],
       [ 1., 32.,  7.],
       [ 1., 20.,  3.],
       [ 1., 35.,  1.],
       [ 1., 48., 14.],
       [ 1., 50., 20.],
       [ 1., 34., 10.],
       [ 1., 29.,  6.],
       [ 1., 42.,  4.],
       [ 1., 55.,  5.],
       [ 1., 45., 12.],
       [ 1., 32., 10.],
       [ 1., 30.,  5.],
       [ 1., 45.,  7.]])

In [9]:
x_train,x_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [10]:
print(x_train.shape,x_test.shape, y_train.shape, y_test.shape)

(16, 3) (4, 3) (16, 1) (4, 1)

In [11]:
model = LinearRegression()
model.fit(x_train,y_train)
ycap = model.predict(x_test)
mse = mean_squared_error(y_test,ycap)
r2s = r2_score(y_test,ycap)

print(mse, r2s)

73.47988779121613 0.7854874380360288

In [12]:
model = make_pipeline(StandardScaler(), LinearRegression())
model.fit(x_train,y_train)
ycap = model.predict(x_test)
mse = mean_squared_error(y_test,ycap)
r2s = r2_score(y_test,ycap)

print(mse, r2s)

73.47988779121602 0.785487438036029

In [13]:
scale = StandardScaler()
x_train_scale = scale.fit_transform(x_train)
x_test_scale = scale.transform(x_test)


model = LinearRegression()
model.fit(x_train_scale,y_train)
ycap = model.predict(x_test_scale)
mse = mean_squared_error(y_test,ycap)
r2s = r2_score(y_test,ycap)

print(mse, r2s)

73.47988779121602 0.785487438036029

In [14]:
pipeline = Pipeline([
    ('poly' , PolynomialFeatures (degree=2)),
    ('model', LinearRegression())
])

pipeline.fit(x_train_scale,y_train)
ycap = pipeline.predict(x_test_scale)
mse = mean_squared_error(y_test, ycap)
r2s = r2_score(y_test,ycap)
print(mse, r2s)

205.62689609598442 0.3997057750607802

In [15]:
pipeline = Pipeline([
    ('poly' , PolynomialFeatures (degree=3)),
    ('model', LinearRegression())
])

pipeline.fit(x_train_scale,y_train)
ycap = pipeline.predict(x_test_scale)
mse = mean_squared_error(y_test, ycap)
r2s = r2_score(y_test,ycap)
print(mse, r2s)

2473.287430963167 -6.2203597370302495

In [16]:
pipeline = Pipeline([
    ('poly' , PolynomialFeatures (degree=1)),
    ('model', LinearRegression())
])

pipeline.fit(x_train_scale,y_train)
ycap = pipeline.predict(x_test_scale)
mse = mean_squared_error(y_test, ycap)
r2s = r2_score(y_test,ycap)
print(mse, r2s)

73.47988779121637 0.785487438036028

In [18]:
pipeline = Pipeline([
    ('poly', PolynomialFeatures(degree=7)),
    ('model', Ridge())
])

pipeline.fit(x_train_scale, y_train)
ycap = pipeline.predict(x_test_scale)
mse = mean_squared_error(y_test, ycap)
r2s = r2_score(y_test, ycap)
print(mse, r2s)

2692.495140093479 -6.860300933203625