<a href="https://colab.research.google.com/github/venkatesh176/AI_Training/blob/Basics/PyInterviewCoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "NAINA"
str2 = "REENE"
op = []
def string_Common_Letters(a,b):
  for i in range(len(a)):
    c = b.find(a[i])
    if c!=-1:
        op.append(a[i])
  return op

x = string_Common_Letters(str1,str2)
print(x)

['N', 'N']

In [ ]:
str1 = "NAINA"
str2 = "REENE"
s1 = set(str1)
s2 = set(str2)
op = []

common_letters = s1&s2
print(common_letters)

{'N'}

In [ ]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict3 ={}
lst = str1.split(" ")

for i in lst:
  if i not in dict3.keys():
    dict3[i] = 0
  else:
    dict3[i]= dict3[i]+1

print(dict3)

{'Sheena': 0, 'loves': 1, 'eating': 1, 'apple': 1, 'and': 1, 'mango': 1, '': 0, 'Her': 0, 'sister': 0, 'also': 0}

In [ ]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict2 ={}
lst = str1.split(" ")
st =set(lst)

for i in st:
   c =lst.count(i)
   dict2[i] = c
print(dict2)

{'': 1, 'apple': 2, 'mango': 2, 'and': 2, 'sister': 1, 'Sheena': 1, 'also': 1, 'Her': 1, 'eating': 2, 'loves': 2}

In [ ]:
lst1 = ["nai","ki","she"]
lst2 = [100,101,102]
dict1 ={}

for i in range(len(lst1)):
  dict1[lst2[i]] = lst1[i]


print(dict1)

{100: 'nai', 101: 'ki', 102: 'she'}

In [ ]:
lst = [1,2,4,5,6,7]
for i in range(1,len(lst)+1):
  if i not in lst:
    print(i)

a = 7*(7+1)/2

b=0
for i in lst:
  b+=i

c= sum(lst)
print(a-b)
print(a-c)

3
3.0
3.0

In [ ]:
n = len(lst)
xor_a = lst[0]
for index in range(1,n):
  xor_a =xor_a^lst[index]
xor_b = 0
for num in range(1,len(lst)+2):
   xor_b = xor_b^num
print(xor_a^xor_b)

3

In [ ]:
arr = [5,7,4,3,9,8,19,21]
sum = 17
dct = {}
for i in arr:
  for j in arr:
    if i+j ==sum:
      dct[i] = j
print(set(dct))

{8, 9}

In [ ]:
class Node:
  def __init__(self,key):
    self.data = key
    self.left = None
    self.right = None

def height_tree(A):
  if (A == None):
    return 0
  else:
    # return max(height_tree(A.left), height_tree(A.right))+1
    return min(height_tree(A.left), height_tree(A.right))+1

root = Node(1)
root.left = Node(2)
root.right = Node(3)
root.left.left = Node(4)
root.left.right = Node(5)
root.left.left.left = Node(7)
root.right.right = Node(6)

print(height_tree(root))

2

In [ ]:

x = [5, 32, 45, 4, 12, 18, 25]


def min(a):
  min=a[0]
  max=a[0]
  for j in a:
    if min > j:
      min = j
    elif max < j:
      max = j
  return min

mn1 = min(x)
x.remove(mn1)
mn2 = min(x)
print(abs(mn1-mn2))

1

In [ ]:
import operator
A = ["2","1","+","3","*"]
stack = []

ops = {
    '+': operator.add,
    '-': operator.sub,
    '*': operator.mul,
    '/': operator.truediv
}


op = ["+","-","*","/"]
for i in A:
  if i in op:
    op2 = int(stack.pop())
    op1 = int(stack.pop())
    i = i
    op3 = ops[i](op2,op1)
    stack.append(op3)

  else:
    stack.append(i)


print(stack)

[9]

In [ ]:
A = [1,0,2,0,1,0,3,1,0,2]

A_left = []
A_right = []


def water_trap(x,y):
  j=0
  k = 0
  for i in x:
    if k == 0:
       k=1
       y.append(i)
    else:
          if y[j]>i:
             y.append(y[j])
          else:
             y.append(i)
          j=j+1
  return y


A_rev = A[::-1]

water_trap(A,A_left)
water_trap(A_rev,A_right)

A_right_rev = A_right[::-1]
print(A_left)
print(A_right_rev)

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3]
[3, 3, 3, 3, 3, 3, 3, 2, 2, 2]

In [ ]:
w = len(A)
s =0
d =[]
for a in range(0,w):
    c =0
    b=0
    c =min(A_left[a],A_right_rev[a])

    b = abs(c-A[a])
    d.append(b)
print(sum(d))
print(d)

9
[0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

In [ ]:
A = [3,5,12,2,6,10,7,9,8]

for j in range(len(A)):
  if j%2==0:
    if j !=0:
       if A[j]<A[j-1]:
          A[j-1],A[j] = A[j],A[j-1]
    if j+1 != len(A):
        if A[j]<A[j+1]:
           A[j],A[j+1] = A[j+1],A[j]
print(A)

[5, 3, 12, 2, 10, 6, 9, 7, 8]

In [ ]:
A = [1,3,5]
D = [2,6,8]
k= input("enter total rooms:")
l =0
ra = []
for i in range(len(A)):
  if i==0:
    l=1
    ra.append("yes")
  else:
     l+=1
     if D[i-1]<A[i]:
      l-=1
     if int(k)>=l:
        ra.append("yes")
     else:
        ra.append("no")
print(ra)

enter total rooms:2
['yes', 'yes', 'yes']

In [ ]:
s1 = "Hello NetsetOs"
l = s1.split(" ")

print(len(l[-1]))

s2 = s1[::-1]
k =s2.find(" ")
print(k)

8
8

In [ ]:
A =[1,1,2,2,2,3,4,4,4,5,5]
B =[]
for i in A:
  if i not in B:
    B.append(i)
print(B)

[1, 2, 3, 4, 5]

In [ ]:
A = [4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]

# b = [i for i in A if i>0]
# print(sum(b))

mx_sum = A[0]
sum = 0
for i in range(len(A)):
  sum = sum + A[i]
  if sum>mx_sum:
    mx_sum =sum
print(mx_sum)

6

In [19]:
Anagrams = ["fried", "fired", "sadder", "dreads", "cat", "tca", "gainly", "laying"]
A_dic = [list(i) for i in Anagrams]

for i in range(len(Anagrams)):
  for j in range(i, len((Anagrams))):
    if sorted(A_dic[i])== sorted(A_dic[j]):
      # if i!=j:
        if Anagrams[i]!=Anagrams[j]:
          print(i,Anagrams[i],j,Anagrams[j])

0 fried 1 fired
2 sadder 3 dreads
4 cat 5 tca
6 gainly 7 laying

In [3]:
arr = [63,54,98,34,89,42,18,2,576]
max_ele = arr[0]
min_ele = arr[0]

def get_max_min_element(A, min_ele, max_ele):
  for a in A:
    if a> max_ele:
      max_ele = a
    elif a<min_ele:
      min_ele = a
  return min_ele, max_ele

c,d = get_max_min_element(arr,min_ele, max_ele)
print(f" min element {c},max element {d}")

 min element 2,max element 576

In [45]:
def left_rotate_string(name1, name2):

  lst_str = list(name1)
  print(lst_str)
  if (len(name1)!=len(name2)):
    isRotate = False
    return isRotate

  else:
    a1 = lst_str
    print(a1)
    for i,j in enumerate(lst_str):
      a2 = a1[1:3]
      print(a2)
      b1 = "".join(a2)

      b2 = str(b1)+ j
      print(b2)


      if b2 == name2:
        isRotate = True
        break
      else:
        a1 = list(b2)
        print(a1)
        isRotate = False

  return isRotate

str1 = "CAT"
str2 = "ATC"

a = left_rotate_string(str1, str2)

print(a)
if a == True:
 print(f"rotaing stings {str1} - {str2}")
else:
  print(f" NOT rotaing stings {str1} - {str2}")

['C', 'A', 'T']
['C', 'A', 'T']
['A', 'T']
ATC
True
rotaing stings CAT - ATC

In [11]:
words = "netsetos is online educational platform"
words_list = words.split(" ")

l = len(words_list)
for i in range(l):
  print(words_list[l-i-1])
print(words_list[::-1])

words_rev = words[::-1]
for i in words_rev.split(" "):
  j =str(i)
  print(j[::-1])

platform
educational
online
is
netsetos
['platform', 'educational', 'online', 'is', 'netsetos']
platform
educational
online
is
netsetos

In [23]:
name  = "netsetosnet"
for i,j in enumerate(name):
  if j in name[i+1:]:
     print(f"{j} is a repeating char")
  else:
      print(f"{j} is a fisrt not repeating char")
      break

char_repeat = {}
for i in name:
  if i not in char_repeat:
    char_repeat[i] = int(1)
  else:
    char_repeat[i] = char_repeat[i]+1

for i in char_repeat:
  if char_repeat[i]== 1:
    print(i)

n is a repeating char
e is a repeating char
t is a repeating char
s is a repeating char
e is a repeating char
t is a repeating char
o is a fisrt not repeating char
o

In [12]:
# print(ord("A"))
# print(chr(97))

excel_col = "ZZ"
result = 0
size =len(excel_col)
for i in range(size):
  num = ord(excel_col[i])- ord("A")+1
  result = result+num*pow(26,size-1)
  size= size-1
print(result)

702

In [20]:
d = {"I":1, "V":5, "X":10, "L":10, "C":100, "D":500, "M":1000}

roman = "XIV"
num = 0
for i in range(len(roman)):
  if i == len(roman)-1:
    num = num + d[roman[i]]
    break
  if roman[i]>=roman[i+1]:
    num = num + d[roman[i]]
  else:
    num = num - d[roman[i]]
print(num)

14

In [22]:
l1 = [40,50,60,80,150]
l2 = [50,100,150,200]

print([i for i in l1 if i in l2])

[50, 150]

In [26]:
balls = ["red", "blue", "green","red", "blue", "green","red", "blue","blue", "green"]
s = set(balls)
dic = {}
j=0
for i in s:
  j+=1
  dic[i] = j

print(dic)

new_balls = [dic[i] for i in balls]

print(sorted(new_balls))

{'blue': 1, 'red': 2, 'green': 3}
[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [46]:
# num = 100
# flag =0

# for i in range(2,num):
#   if num%i == 0:
#     flag =1
#     print(f"not a prime num {num}")
#     break

# if flag == 0:
#   print(f"a prime num {num}")

# l =[]
# for i in range(2,num):
#   if num == 2:
#     l.append(2)
#   else:
#     for j in range(2,i):
#       if i%j== 0:
#          break
#     else:
#        l.append(i)

# print(l)


num =15
l = [i for i in range(num+1)]
l2 = [0 if i<2 else 1 for i in l]
print(l2)

for i in range(2,num+1):
  for j in range(2,int(num/2)):
    k =i*j
    if k <= num:
      l2[k] = 0

print([i for i,j in enumerate(l2) if j!=0])

[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[2, 3, 5, 7, 11, 13]

In [51]:
s = "TANUJ"
for i in range(len(s)):
  for j in range(i,len(s)):
    print(s[i:j+1])

T
TA
TAN
TANU
TANUJ
A
AN
ANU
ANUJ
N
NU
NUJ
U
UJ
J

In [9]:
def sub_sequence(str1):
  if (len(str1) == 0):
    return [" "]

  small = sub_sequence(str1[1:len(str1)])

  result = [" "] * (2* len(small))
  k=0
  for i in range(len(small)):
    result[k] = small[i]
    k = k+1

  for i in range(len(small)):
    result[k] = str1[0]+small[i]
    k = k+1

  return result

op = sub_sequence("ABC")
print(op)

[' ', 'C ', 'B ', 'BC ', 'A ', 'AC ', 'AB ', 'ABC ']

In [36]:
import re
s1 = "I am 89 years old. My father name is 120"

l1 = s1.split(" ")
num_l = [str(i) for i in l1]

print(num_l)

# for i in l1:
#   if not i.isalpha() and i.isalnum():
#     num_l.append(i)


num = [i for i in num_l if re.match(r"[0-9]",i)]

print(num)

['I', 'am', '89', 'years', 'old.', 'My', 'father', 'name', 'is', '120']
['89', '120']

In [52]:
def fib(n):
  count = 1
  first = 0
  second = 1

  while count<n-1:
    sum = first
    first =second
    second = first+ sum

    count= count+1
    yield sum


f = fib(10)

print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())

0
1
1
2
3
5
8
13

In [62]:
l = [1,2,3,4,5]
# l.reverse()
# print(l)
# l1 =list(reversed(l))
# print(l1)

# print(l[::-1])

print([ l[i] for i in range(len(l)-1,-1,-1)])

[5, 4, 3, 2, 1]

In [70]:
import datetime

today = datetime.date.today()
today = today.strftime("%m/%d/%y")
print(today)

08/15/25

In [76]:
import re
email = "whenkey@gmail.com"

pat = r"^[\w\._]+@[\w\._]+\.\w+$"
if re.match(pat, email):
  print("valid email")
else:
  print("invalid email")

valid email

In [1]:
add = lambda a,b: a+b

print(add(10,20))

30

In [10]:
fl = open("/content/sample_data/test.txt")
fl_r = fl.read()
df = fl_r.split("\n")
words_list = []
for lines in df:
  words = lines.split(" ")
  words_list.append(words)
print(words_list)
fl.close()

[['https://www.gutenberg.org/files/1342/1342-0.txt'], ['https://azure.microsoft.com/en-us/get-started/azure-portal'], ['profile', 'pic', 'link:https://i.postimg.cc/RFKY3T0B/venky-pic2.jpg', 'add', 'at', 'Hero', 'page'], ['and', 'enhance', 'hero', 'page', 'little', 'more', 'with', 'little', 'brighter', 'and', 'also', 'attracts', 'the', 'clients']]

In [13]:
d1 = {1:"apple", 2:"banana"}
d2 = {3:"grape", 4:"orange"}

d1.update(d2)
print(d1)

print({**d1, **d2})

{1: 'apple', 2: 'banana', 3: 'grape', 4: 'orange'}
{1: 'apple', 2: 'banana', 3: 'grape', 4: 'orange'}

In [17]:
def pascal_triangle(num):

        print(f" {i}")