<a href="https://colab.research.google.com/github/venkatesh176/AI_Training/blob/Basics/PyInterviewCoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "NAINA"
str2 = "REENE"
op = []
def string_Common_Letters(a,b):
  for i in range(len(a)):
    c = b.find(a[i])
    if c!=-1:
        op.append(a[i])
  return op

x = string_Common_Letters(str1,str2)
print(x)

['N', 'N']

In [ ]:
str1 = "NAINA"
str2 = "REENE"
s1 = set(str1)
s2 = set(str2)
op = []

common_letters = s1&s2
print(common_letters)

{'N'}

In [ ]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict3 ={}
lst = str1.split(" ")

for i in lst:
  if i not in dict3.keys():
    dict3[i] = 0
  else:
    dict3[i]= dict3[i]+1

print(dict3)

{'Sheena': 0, 'loves': 1, 'eating': 1, 'apple': 1, 'and': 1, 'mango': 1, '': 0, 'Her': 0, 'sister': 0, 'also': 0}

In [ ]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict2 ={}
lst = str1.split(" ")
st =set(lst)

for i in st:
   c =lst.count(i)
   dict2[i] = c
print(dict2)

{'': 1, 'apple': 2, 'mango': 2, 'and': 2, 'sister': 1, 'Sheena': 1, 'also': 1, 'Her': 1, 'eating': 2, 'loves': 2}

In [ ]:
lst1 = ["nai","ki","she"]
lst2 = [100,101,102]
dict1 ={}

for i in range(len(lst1)):
  dict1[lst2[i]] = lst1[i]


print(dict1)

{100: 'nai', 101: 'ki', 102: 'she'}

In [ ]:
lst = [1,2,4,5,6,7]
for i in range(1,len(lst)+1):
  if i not in lst:
    print(i)

a = 7*(7+1)/2

b=0
for i in lst:
  b+=i

c= sum(lst)
print(a-b)
print(a-c)

3
3.0
3.0

In [ ]:
n = len(lst)
xor_a = lst[0]
for index in range(1,n):
  xor_a =xor_a^lst[index]
xor_b = 0
for num in range(1,len(lst)+2):
   xor_b = xor_b^num
print(xor_a^xor_b)

3

In [ ]:
arr = [5,7,4,3,9,8,19,21]
sum = 17
dct = {}
for i in arr:
  for j in arr:
    if i+j ==sum:
      dct[i] = j
print(set(dct))

{8, 9}

In [ ]:
class Node:
  def __init__(self,key):
    self.data = key
    self.left = None
    self.right = None

def height_tree(A):
  if (A == None):
    return 0
  else:
    # return max(height_tree(A.left), height_tree(A.right))+1
    return min(height_tree(A.left), height_tree(A.right))+1

root = Node(1)
root.left = Node(2)
root.right = Node(3)
root.left.left = Node(4)
root.left.right = Node(5)
root.left.left.left = Node(7)
root.right.right = Node(6)

print(height_tree(root))

2

In [ ]:

x = [5, 32, 45, 4, 12, 18, 25]


def min(a):
  min=a[0]
  max=a[0]
  for j in a:
    if min > j:
      min = j
    elif max < j:
      max = j
  return min

mn1 = min(x)
x.remove(mn1)
mn2 = min(x)
print(abs(mn1-mn2))

1

In [10]:
import operator
A = ["2","1","+","3","*"]
stack = []

ops = {
    '+': operator.add,
    '-': operator.sub,
    '*': operator.mul,
    '/': operator.truediv
}


op = ["+","-","*","/"]
for i in A:
  if i in op:
    op2 = int(stack.pop())
    op1 = int(stack.pop())
    i = i
    op3 = ops[i](op2,op1)
    stack.append(op3)

  else:
    stack.append(i)


print(stack)

[9]

In [45]:
A = [1,0,2,0,1,0,3,1,0,2]

A_left = []
A_right = []


def water_trap(x,y):
  j=0
  k = 0
  for i in x:
    if k == 0:
       k=1
       y.append(i)
    else:
          if y[j]>i:
             y.append(y[j])
          else:
             y.append(i)
          j=j+1
  return y


A_rev = A[::-1]

water_trap(A,A_left)
water_trap(A_rev,A_right)

A_right_rev = A_right[::-1]
print(A_left)
print(A_right_rev)

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3]
[3, 3, 3, 3, 3, 3, 3, 2, 2, 2]

In [54]:
w = len(A)
s =0
d =[]
for a in range(0,w):
    c =0
    b=0
    c =min(A_left[a],A_right_rev[a])

    b = abs(c-A[a])
    d.append(b)
print(sum(d))
print(d)

9
[0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

In [62]:
A = [3,5,12,2,6,10,7,9,8]

for j in range(len(A)):
  if j%2==0:
    if j !=0:
       if A[j]<A[j-1]:
          A[j-1],A[j] = A[j],A[j-1]
    if j+1 != len(A):
        if A[j]<A[j+1]:
           A[j],A[j+1] = A[j+1],A[j]
print(A)

[5, 3, 12, 2, 10, 6, 9, 7, 8]