<a href="https://colab.research.google.com/github/venkatesh176/AI_Training/blob/main/PyIterviewCoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
str1 = "NAINA"
str2 = "REENE"
op = []
def string_Common_Letters(a,b):
  for i in range(len(a)):
    c = b.find(a[i])
    if c!=-1:
        op.append(a[i])
  return op

x = string_Common_Letters(str1,str2)
print(x)

['N', 'N']

In [12]:
str1 = "NAINA"
str2 = "REENE"
s1 = set(str1)
s2 = set(str2)
op = []

common_letters = s1&s2
print(common_letters)

{'N'}

In [36]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict3 ={}
lst = str1.split(" ")

for i in lst:
  if i not in dict3.keys():
    dict3[i] = 0
  else:
    dict3[i]= dict3[i]+1

print(dict3)

{'Sheena': 0, 'loves': 1, 'eating': 1, 'apple': 1, 'and': 1, 'mango': 1, '': 0, 'Her': 0, 'sister': 0, 'also': 0}

In [34]:
str1 = """Sheena loves eating apple and mango  Her sister also loves eating apple and mango"""
dict2 ={}
lst = str1.split(" ")
st =set(lst)

for i in st:
   c =lst.count(i)
   dict2[i] = c
print(dict2)

{'': 1, 'apple': 2, 'mango': 2, 'and': 2, 'sister': 1, 'Sheena': 1, 'also': 1, 'Her': 1, 'eating': 2, 'loves': 2}

In [38]:
lst1 = ["nai","ki","she"]
lst2 = [100,101,102]
dict1 ={}

for i in range(len(lst1)):
  dict1[lst2[i]] = lst1[i]


print(dict1)

{100: 'nai', 101: 'ki', 102: 'she'}

In [45]:
lst = [1,2,4,5,6,7]
for i in range(1,len(lst)+1):
  if i not in lst:
    print(i)

a = 7*(7+1)/2

b=0
for i in lst:
  b+=i

c= sum(lst)
print(a-b)
print(a-c)

3
3.0
3.0